body {
    background-color: white;
}

h1 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 140px;
    font-weight: 700;
    margin-left: 12.5vw;
    margin-top: 20px;
    letter-spacing: -1px;
    color: black;
}

hr {
    height: 7.5px;
    border: none;
    background-color: #282FFF;
    margin-left: 12.5vw;
    margin-right: 5vw;
    margin-top: -90px;
}

.report-container {
    display: flex;
    align-items: center;
    margin-left: 12vw;
    margin-bottom: -20px;
}

#report {
    width: 60px;
    height: auto;
    margin-right: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transform-origin: center center;
}

#report:hover {
    transform: scale(1.075);
}

#logo-icon {
    width: 6vw;
    height: auto;
}

#comm, #notif, #settings, #map {
    width: 3.5vw;
    height: auto;
    transition: all 0.3s ease;
    transform-origin: center center;
}

#comm:hover, #map:hover, #notif:hover, #settings:hover {
    transform: scale(1.075);
    cursor: pointer;
}

.alert-item {
    position: fixed;
    left: 2vw;
    bottom: -10px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: -25px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    transform-origin: center center;
    z-index: 5;
}

#alert:hover {
    transform: translate(-50%, -50%) scale(1.075);
    cursor: pointer;
}

.alert-circle {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #282FFF;
    border-radius: 50%;
    z-index: 4;
}

.alert-bg {
    position: absolute;
    height: 140px;
    width: 140px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

h2 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: -1px;
    color: black;
}

#subhead {
    margin-left: 12.5vw;
}

.navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 7.5vw;
    background-color: #282FFF;
    color: white;
    text-align: center;
}

h4 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.01vw;
    margin-top: -0.05vw;
}

.logo {
    margin-top: 2vw;
}

.bold {
    font-weight: 625;
    letter-spacing: 0.25px;
    display: block;
}

#topbold {
    margin-bottom: 7.5px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12.5vw;
    margin-right: 5vw;
    margin-top: 25px;
    gap: 20px;
}

.box {
    flex: 0 0 calc(50% - 10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.box:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 
        2px 12px 18px rgba(0, 0, 0, 0.15);
}

.box-content {
    display: block;
    padding: 22.5px 5px;
}

#abbypfp, #davidpfp, #henrypfp, #zhupfp, #danielpfp, #fernandopfp, #gabepfp, #ericapfp {
    float: left;
    width: 80px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h5 {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0px 20px 0px 0px;
    overflow: visible;
}

h5 > img, h5 input {
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 15px;
    width: calc(100% - 10px);
    max-width: 100%;
}

.post-content {
    clear: both;
    padding-top: 5px;
    margin-left: 20px;
    width: 100%;
}

.post-image {
    height: 250px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    border-radius: 25px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#water {
    background-color: #282FFF;
    color: white;
}

#electric {
    background-color: #FFC800;
    color: black;
}

#user {
    background-color: #E9E9E9;
}

.tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: -5px;
    margin-bottom: 10px;
}

#blue {
    display: inline-block;
    background-color: #282FFF;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
}

#yellow {
    display: inline-block;
    background-color: #FFC800;
    color: black;
    padding: 3px 12px;
    border-radius: 20px;
}

#red {
    display: inline-block;
    background-color: #d5221f;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
}

#green {
    display: inline-block;
    background-color: #85d67b;
    color: black;
    padding: 3px 12px;
    border-radius: 20px;
}

#reply {
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
    font-weight: 625;
    letter-spacing: -0.25px;
    display: block;
    padding: 7.5px 0 7.5px 15px;
    background-color: #D9D9D9;
    color: black;  
    border: none;
    border-radius: 15px;
}

#reply::placeholder {
    color: #a2a2a2;
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 80px;
        margin-left: 17.5vw;
        margin-top: 60px;
    }

    hr {
        margin-top: -39px;
        margin-left: 17.5vw;
    }

    .report-container {
        margin-left: 17vw;
    }

    #subhead {
        margin-left: 17.5vw;
    }
    
    .navigation {
        width: 12.5vw;
    }

    #comm, #notif, #settings, #map {
        width: 5vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    .box-container {
        margin-left: 17.5vw;
        flex-direction: column;
    }

    .box-content {
        padding: 20px 10px;
    }
    
    .box {
        flex: 0 0 100%;
    }

    h5 {
        font-size: 17px;
        line-height: 22px;
    }
    
    .post-image {
        height: 300px;
        object-fit: cover;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15vw;
        margin-left: 20px;
        margin-top: 45px;
    }

    hr {
        height: 1vw;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -8vw;
    }

    .report-container {
        margin-left: 10px;
        margin-bottom: -35px;
    }

    #report {
        width: 9.5vw;
    }

    #report:hover {
        transform: scale(1);
    }

    h2 {
        font-size: 6vw;
        letter-spacing: -0.1vw;
        font-weight: 600;
    }

    #subhead {
        margin-left: 20px;
    }

    .navigation {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #comm, #map, #notif, #settings {
        width: 10vw;
        height: auto;
        margin-bottom: 5px;
    }

    #gap-left {
        margin-right: 100px;
    }

    #gap-right {
        margin-left: 15px;
    }

    #comm:hover, #map:hover, #notif:hover, #settings:hover {
        transform: scale(1);
    }

    #alert:hover {
        transform: translate(-50%, -50%) scale(1);
    }

    .alert-item {
        left: 0;
        right: 0;
        margin: auto;
        height: 100px;
        width: 100px;
        bottom: 25px;
    }

    #alert {
        width: 90px;
        height: 90px;
        bottom: -35px;
    }

    .alert-circle {
        width: 100px;
        height: 100px;
    }

    .alert-bg {
        width: 120px;
        height: 120px;
    }

    h4 {
        font-size: 12px;
        letter-spacing: 0.25px;
        margin-top: -10px;
        margin-bottom: -15px;
    }

    .bold {
        letter-spacing: 0.5px;
    }

    .box-content {
        padding: 4vw 2vw;
    }

    h5 {
        font-size: 3vw;
        letter-spacing: 0.02vw;
        font-weight: 500;
        line-height: 3.75vw;
        margin-left: 2.5px;
    }

    .box-container {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }

    .box {
        flex: 0 0 100%;
        border-radius: 12.5px;
    }

    .box:hover {
        transform: translateY(0px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .bold {
        letter-spacing: 0.05vw;
    }

    #topbold {
        margin-bottom: 1vw;
    }

    .logo {
        display: none;
    }

    .close {
        top: 10px;
        right: 15px;
        font-size: 30px;
    }
    
    .post-image {
        width: 100%;
        height: 200px;
        max-width: none;
        border-radius: 15px;
    }
    
    .post-content {
        margin-left: 10px;
        margin-right: 0;
        width: calc(100% - 10px);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(18, 18, 18);
    }

    h1 {
        color: white;
    }

    hr {
        background-color: #FFC800;
    }

    h2 {
        color: white;
    }

    h4 {
        color: black;
    }

    .box {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    }

    .box:hover {
        box-shadow:  2px 12px 18px rgba(0, 0, 0, 0.25);
    }

    #user {
        background-color: #202020;
        color: white;
    }

    .navigation {
        background-color: #FFC800;
    }

    .alert-circle {
        background-color: #FFC800;
    }

    .alert-bg {
        background-color: rgb(18, 18, 18);
    }

    #reply {
        background-color: #3f3f3f;
        color: white;  
        border: none;
        border-radius: 10px;
    }
    
    #reply::placeholder {
        color: #a2a2a2;
        font-style: italic;
    }

    #logo-icon {
        content: url("img/logo_black.png");
    }

    #comm {
        content: url("img/comm_black.png");
      }
      
    #map {
        content: url("img/map_black.png");
    }
      
    #notif {
        content: url("img/notif_black.png");
    }
      
    #settings {
        content: url("img/settings_black.png");
    }

    #report {
        content: url("img/report_dark.png");
    }

    #alert {
        content: url("img/alert_black.png");
    }

    #abbypfp {
        content: url("img/abbypfp_black.png");
    }

    #davidpfp {
        content: url("img/davidpfp_black.png");
    }

    #henrypfp {
        content: url("img/henrypfp_black.png");
    }

    #zhupfp {
        content: url("img/zhupfp_black.png");
    }

    #danielpfp {
        content: url("img/danielpfp_black.png");
    }

    #fernandopfp {
        content: url("img/fernandopfp_black.png");
    }

    #gabepfp {
        content: url("img/gabepfp_black.png");
    }

    #ericapfp {
        content: url("img/ericapfp_black.png");
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}